html{
    font-family: 'Hind Siliguri', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
}

.content{
    width: 60%;
    margin: 0 auto 0 auto;
    /* background-color: yellow; */
}

nav{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}
.logo{
    width: 60px;
    height: 50px;
}
.name{   
    display: inline;
    /* margin-right: 40%; */
}
.nav-items{
    font-size: 95%;
    display: inline;
    margin: 0 7px;
}
.nav-list{
    display: inline;
    text-decoration: none;
}

/* #home{
    margin: 175px 0;
    height: 100vh;
} */
/* .home-text
{
    vertical-align: center;
    display: inline;
    float: left;
    width: 50%;
}
.home-text p{
    display: inline;
} */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.my-image
{
    display: inline;
    width: 40%;
}
.my-image img{
    border-radius: 50%;
    float: right;
    width: 300px;
}
.ss{
    display: flex;
    margin: 175px 0;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    /* margin: auto auto auto auto; */
    /* padding-right: 20px; */
}

.social{
    padding-left: 0;
    list-style: none;
    font-size: 150%;
    /* margin: 0 auto 0 auto;
     */
     /* vertical-align:middle; */
}
.social-icons{
    /* display: inline; */
    margin: 15px 0 0 0;
}

#intro{
    
}

#about{
    margin: 175px 0;
}

